@model aspprojekt.Models.Works
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{ ViewData["Title"] = "Delete"; }
@if (SignInManager.IsSignedIn(User))
{
<h1>Radera</h1>

                <h3>Vill du verkligen radera denna?</h3>
                                <div>
                                    <h4>Works</h4>
                                    <hr />
                                    <dl class="row">
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.Company)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.Company)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.WorkTitle)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.WorkTitle)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.WorkLength)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.WorkLength)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.Description)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.Description)
                                        </dd>
                                    </dl>

                                    <form asp-action="Delete">
                                        <input type="hidden" asp-for="WorkId" />
                                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                                        <a asp-action="Index">Tillbaka till tabellen</a>
                                    </form>
                                </div>}